
.submitBtn{
    padding: 10px;
    cursor: pointer;
    caret-color: red !important;
}
.select_category{
    cursor: pointer;
}
.media_record:hover{
    transform: translateY(1);
    transition: all 0.5s;
}

.record_btn{
    width: 7vh;
    height: 7vh;
    cursor: pointer;
    background-color: brown;
    border: 5px solid brown;
}
.record_btn:hover{
    background-color: white;
}