/* body{
    overflow: hidden;
} */
.message_body{
    height: 84vh;
    overflow: auto;
}
.message_body::-webkit-scrollbar{
    width: 3px;
    background-color: rgb(169, 157, 157);
    border-radius: 5vh;
    box-shadow: inset 6px -6px 13px 20px;
}
.message_body::-webkit-scrollbar-thumb
{
    background-color: orange;
    width: 1px;
}