
*::-webkit-scrollbar{
  width: 3px;
}

.cursor_pointer{
  cursor: pointer;
}
/* custom CSS */
.textArea{
  resize: none;
}

/* CSS for Description Template */
.vehicle:hover{
  background-color: rgb(234, 234, 45) !important;
  transition: all 0.5s ease;
}
.fire:hover{
  background-color: rgb(155, 47, 47) !important;
  color: white;
  transition: all 0.5s ;
}
.robbery:hover{
  background-color: aqua !important;
  transition: all 0.5s ;
}
.riot:hover{
  background-color: blue !important;
  color: white;
  transition: all 0.5s ;
}

video{
  height: auto;
  width: 60%;
}
.video{
  height: 40vh;
  width: 60%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) and (min-width: 564px){
  video{
      width: 80%;
  }
  .video{
      width: 80%;
  }
}

@media only screen and (max-width: 563px) {
  video{
      width: 100%;
  }
  .video{
      width: 100%;
  }
}
