*{
  font-family: sans-serif;
}
*::-webkit-scrollbar{
  width: 3px;
}

.cursor_pointer{
  cursor: pointer;
}
/* custom CSS */
.textArea{
  resize: none;
}

.form-control, .form-select:focus{
  -webkit-box-shadow: none!important;
}

/* CSS for Description Template */
.fire:hover{
  background-color: rgb(155, 47, 47) !important;
  color: white;
  transition: all 0.5s ;
}

video{
  width: 60%;
}
.video{
  height: 40vh;
  width: 60%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin-left 1s;
}
.page-with-navbar{
  /* width: 85%; */
  margin-left: 15%;
}
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 992px) and (min-width: 564px){
  video{
      width: 80%;
  }
  .video{
      width: 80%;
  }
}

@media only screen and (max-width: 563px) {
  video{
      width: 100%;
  }
  .video{
      width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .page-with-navbar{
    width: 100%;
    margin-left: 0;
  }
}
